@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling & font smoothing */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
